.backgroundTextContainer {
  position: absolute;
  top: 27%;
  width: 100%;
  overflow: hidden;
  white-space: nowrap;
  transform: rotate(-4deg);
}
.backgroundTextContent {
  display: inline-flex;
  will-change: transform;
}
.text {
  display: inline-block;
  font-size: 32px;
  font-family: monospace;
  color: rgba(255, 255, 255, 0.2);
  margin-right: 10px;
}