.heroContainer {
  height: 100vh;
  width: 100vw;
  padding: 0 20px;
  border-bottom-right-radius: 20%;
  border-bottom-left-radius: 20%;
  position: relative;
  z-index: 1;
  display: flex;
  justify-content: center;
  align-items: center;
  background: rgb(96,4,4);
  background: linear-gradient(115deg, rgba(96,4,4,1) 0%, rgba(180,81,81,1) 55%, rgba(255,255,255,1) 100%);
}

.textContainer {
  text-align: center;
  margin-top: 224px;
  transform: translateX(-296px);
  /* padding-left: 20%; */
  width: 680px;
  font-family: serif;
}

.companyName {
  font-size: 7rem;
  font-weight: bold;
  margin: 0;
  color:#fcfcfc;
  position: relative;
  z-index: 10;
}

.companyDescription {
  font-size: 1.2rem;
  color: #fcfcfc;
  text-align: left;
  padding-left: 8px;
  position: relative;
  z-index: 10;
}

.phoneContainer {
  position: absolute;
  right: 30%;
  top: 20%;
  width: 396px;
  height: 640px;
}

.mockupContainer {
  position: relative;
  width: 100%;
  height: 100%;
  overflow: hidden;
}

.mockup {
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  z-index: 1;
}

.videoContainer {
  position: absolute;
  top: 2px;
  left: -1px;
  width: 100%;
  height: 100%;
  aspect-ratio: 9 / 16;
  z-index: 0;
  display: flex;
  align-items: center;
  justify-content: center;
}

.video {
  width: 300px;
  height: 618px;
  border-radius: 12%;
  object-fit: cover;
}

@media screen and (max-width: 2000px){
  .phoneContainer {
    right: 20%;
  }
}

@media screen and (max-width: 768px) {
  .heroContainer {
    align-items: end;
  }
  .textContainer {
    text-align: center;
    width: 490px;
    padding-left: 0;
    padding-bottom: 200px;
  }
  .companyName {
    font-size: 5rem;
  }
  .companyDescription {
    text-align: left;
  }
  .phoneContainer {
    top: 30%;
    transform: translate(-50%, -30%);
    width: 366px;
    height: 560px;
  }
  .video {
    width: 280px;
    height: 540px;
  }

}