.heroContainer {
  height: 100vh;
  width: 100vw;
  padding: 0 20px;
  position: fixed;
  z-index: 1;
  display: flex;
  justify-content: center;
  align-items: center;
}
@media screen and (max-width: 1024px) {
  .heroContainer {
    /* align-items: end; */
  }
}
@media screen and (max-width: 520px) {
  .heroContainer {
    padding: 0 8px;
    align-items: end;
  }
}