/* カラーコード
赤#9f2923
黄色#f6ab08 */
/* Reset */
*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html,
body {
  height: 100%;
  line-height: 1.6;
  max-width: 2560px;
  margin: 0 auto;
  color: #333;
  display: flex;
}
html {
  /* justify-content: center;
  align-items: center; */
  
}

body {
  flex-direction: column;
  min-height: 100vh;
  overflow-x: hidden;
  background: rgb(96,4,4);
  background: linear-gradient(115deg, rgba(96,4,4,1) 0%, rgba(180,81,81,1) 55%, rgba(255,255,255,1) 100%);
}
section {
  height: 100vh;
}
img {
  max-width: 100%;
  height: auto;
  display: block;
}

a {
  color: #333; /* リンクのカラー */
  text-decoration: none;
}

a:hover,
a:focus {
  text-decoration: underline;
}

/* 見出しのスタイル */
h1,
h2,
h3,
h4,
h5,
h6 {
  color: #222;
  margin-bottom: 0.5em;
  font-weight: 600;
}

p {
  margin-bottom: 1em;
}

/* グローバルなレイアウト */
.container {
  width: 90%;
  max-width: 1200px;
  margin: 0 auto;
  padding: 20px;
}

/* ボタンスタイル */
button {
  padding: 0.75em 1.5em;
  font-size: 1em;
  font-weight: 600;
  cursor: pointer;
}

header,
footer {
  padding: 1em 0;
}

ul {
  list-style-type: none;
  padding: 0;
}

.flex {
  display: flex;
  flex-wrap: wrap;
}

.flex-center {
  display: flex;
  align-items: center;
  justify-content: center;
}

@keyframes fadeInFloat {
  from {
      opacity: 0;
      transform: translateY(20px); /* 初期位置を下げる */
  }
  to {
      opacity: 1;
      transform: translateY(0); /* 元の位置に戻る */
  }
}

.fade-in-float {
  animation: fadeInFloat 1s ease-in-out;
  opacity: 0; /* アニメーションが始まる前は透明 */
  transform: translateY(20px); /* 初期位置を合わせる */
}