.box {
  overflow: hidden;
}
.title{
  margin: 0;
  font-size: 2rem;
  font-weight: bold;
  font-family: serif;
  animation: textAnime .5s ease-in-out .5s forwards;
  transform: translateY(100%);
}
.description {
  margin: 0;
  font-size: 1rem;
  font-weight: bold;
  font-family: serif;
  animation: textAnime .5s ease-in-out .5s forwards;
  transform: translateY(100%);
}

@keyframes textAnime {
  to {
      transform: translateY(0px);
  }
}