 .open {
  background-color: rgb(252, 156, 156);
}
.toggleButton {
  display: flex;
  flex-direction: column;
  align-items: center;
  cursor: pointer;
}
.line {
  width: 30px; /* ラインの幅 */
  height: 3px; /* ラインの高さ */
  background-color: black;
  margin: 4px 0;
  transition: transform 0.3s ease, opacity 0.3s ease;
}

.openLine:nth-child(1) {
  transform: rotate(45deg) translate(8px, 8px); /* 最初のラインを斜めに */
}

.openLine:nth-child(2) {
  opacity: 0; /* 真ん中のラインを非表示 */
}

.openLine:nth-child(3) {
  transform: rotate(-45deg) translate(8px, -8px); /* 下のラインを斜めに */
}