.openNav {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  padding: 5rem 2rem;
  position: fixed;
  top: 0;
  right: 0;
  left: 0;
  z-index: 10;
  height: 100vh;
  background-color: rgba(255, 255, 255, 0.9);
  transition: all 0.3s;
}
.closeNav {
  display: none;
}
.navList {
  gap: 2.5rem;
}
.navLink {
  color: #fff;
  text-decoration: none;
  font-weight: 500;
  transition: color 0.3s ease;
}
.navLink:hover {
  color: #0070f3;
}
.navItem {
  overflow: hidden;
}
.navText {
  font-size: 1.5rem;
  animation: riseIn 1s forwards ease-in-out;
  transform: translateY(100%); 
}
@keyframes riseIn {
  to {
    transform: translateY(0px);
  }
}